<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul id="nav-main" class="nav navbar-nav">
				<li class="{% if pageHome is defined %}active{% endif %}">
					<a href="{{ url('gma_site_home') }}"><span class="glyphicon glyphicon-home"> Inicio</span></a>
				</li>
				<li class="{% if pageProject is defined %}active{% endif %}">
					<a href="{{ url('gma_site_project') }}"><span class="glyphicon glyphicon-bullhorn"> Proyecto</span></a>
				</li>
				<li class="{% if pageTips is defined %}active{% endif %}">
					<a href="{{ url('gma_site_tips') }}"><span class="glyphicon glyphicon-ok"> Tips</span></a>
				</li>
				<li class="{% if pageAcademic is defined %}active{% endif %}">
					<a href="{{ url('gma_site_academic') }}"><span class="glyphicon glyphicon-book"> Académico</span></a>
				</li>
				<li class="{% if pageContact is defined %}active{% endif %}">
					<a href="{{ url('gma_site_contact') }}"><span class="glyphicon glyphicon-earphone"> Contactanos</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><img src="{{ asset('img/icono_facebook.png')}}" height="50" width="50"></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>