<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul id="nav-main" class="nav navbar-nav">
				<li class="{% if pageHome is defined %}active{% endif %}">
					<a href="{{ url('gma_site_home') }}"><span class="glyphicon glyphicon-home"></span><span><strong>&nbsp;Inicio</strong></span></a>
				</li>
				<li class="{% if pageProject is defined %}active{% endif %}">
					<a href="{{ url('gma_site_project') }}"><span class="glyphicon glyphicon-bullhorn green"></span><span><strong>&nbsp;Proyecto</strong></span></a>
				</li>
				<li class="{% if pageTips is defined %}active{% endif %}">
					<a href="{{ url('gma_site_tips') }}"><span class="glyphicon glyphicon-ok blue"></span><span><strong>&nbsp;Tips</strong></span></a>
				</li>
				<li class="{% if pageAcademic is defined %}active{% endif %}">
					<a href="{{ url('gma_site_academic') }}"><span class="glyphicon glyphicon-book yellow"></span><span><strong>&nbsp;Escolar</strong></span></a>
				</li>
				<!--li class="{% if pageContact is defined %}active{% endif %}">
					<a href="{{ url('gma_site_contact') }}"><span class="glyphicon glyphicon-earphone red"></span><span><strong>&nbsp;Contáctanos</strong></span></a>
				</li-->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><img src="{{ asset('img/facebook.png')}}" style="margin-top:8px" height="35" width="35"></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>