{% extends 'GmaGameBundle:Layout:base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <h3>IAM THE GAME</h3>
    <div id="gma_container">

    </div>
{% endblock %}   

{% block javascripts %}
    <script src="{{ asset('/game/lib/underscore.js') }}"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('/game/lib/jquery-2.0.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('/game/lib/bootstrap.min.js') }}"></script>

    <script src="{{ asset('/game/lib/createjs-2013.09.25.min.js') }}"></script>

    <script src="{{ asset('/game/lib/TweenMax.min.js') }}"></script>

    <script src="{{ asset('/game/lib/require.js') }}"></script>

    <script src="{{ asset('/game/js/main.js') }}"></script>
{% endblock %}